@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Multani&family=Noto+Serif&display=swap');


*{
    margin: 0;
    padding: 0;
}


/* HEADER */


header {
    height: 150px;
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
}

.milogo {
    margin-top: 20px;
    font-size: 50px;
    cursor: pointer;
}

nav {
    margin-top: 70px;
    text-decoration-line: none;
}


.inicio {
    margin-right: 80px;
    font-size: 20px;
    text-decoration: none;
    color: #3e3d3d;
    font-family: 'Noto Serif', serif;
}

.inicio:hover {
    text-decoration: underline;
}

.acerca {
    margin-right: 80px;
    font-size: 20px;
    text-decoration: none; 
    color: #3e3d3d;
    font-family: 'Noto Serif', serif;
}

.acerca:hover {
    text-decoration: underline;
}

.proyectos {
    margin-right: 80px;
    font-size: 20px;
    text-decoration: none; 
    color: #3e3d3d;
    font-family: 'Noto Serif', serif;
}

.proyectos:hover {
    text-decoration: underline;
}

.contacto {
    margin-right: 30px;
    font-size: 20px;
    text-decoration: none; 
    color: #3e3d3d;
    font-family: 'Noto Serif', serif;
}

.contacto:hover{
    text-decoration: underline;
}

/*ICONOS*/

.iconos {
    margin-top: 55px;
    font-size: 30px;
    margin-inline: 20px;
}

.linkedin {
    margin-right: 10px;
    color: #333030;
    transition: color 0.1s ease;
    text-decoration: none;
}

.linkedin:hover {
    color: grey; 
    cursor: pointer;
}

.facebook {
    margin-right: 10px;
    color: #333030;
    transition: color 0.1s ease;
    text-decoration: none;
}

.facebook:hover {
    color: grey; 
    cursor: pointer;
}

.twitter {
    color: #333030;
    transition: color 0.1s ease;
    text-decoration: none;
}

.twitter:hover {
    color: grey; 
    cursor: pointer;
}

/* HERO */

.hero{
    background-image: url(../imagenes/imagen.jpg);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.minombre {
    color: white;
    font-size: 50px;
    margin-left: 70px;
    font-family: 'Noto Serif', serif;
}

.webdeveloper {
    color: white;
    font-size: 20px;
    margin-left: 130px;
    font-family: 'Noto Serif', serif;
}


.boton1{
    background-color: rgba(0, 0, 0, 0); 
    border: 3px solid white; 
    color: white;
    padding: 10px 20px; 
    cursor: pointer;
    margin-left: 250px;
    font-family: 'Noto Serif', serif;
}

.boton1:hover {
    background-color: white; 
    color: black;
}

/* ACERCA DE MI */

.segundaseccion {
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}

.tituloacerca {
    margin-top: 80px;
    font-family: 'Noto Serif', serif;
    font-size: 70px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.sobremi {
    font-size: 20px;
    margin-top: 100px;
    color: #898585;
    font-family: 'Noto Sans Multani', sans-serif;
}

.boton2 {
    background-color: #383737; 
    color: #ffffff; 
    padding: 25px 30px; 
    border: none; 
    cursor: pointer; 
    font-size: 20px;
    margin-bottom: 80px;
}

.boton2:hover {
    background-color: #746d6d; 
    color: white;
}

.contenedorboton {
    width: 15%;
    margin: 0 auto;
}



/*HERRAMIENTAS*/

.herramientas {
    height: 700px;
    background-color: #383737;
}

.herramientas2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills {
    color: white;
    margin-top: 50px;
    font-size: 60px;
    text-shadow: 5px 5px 5px rgb(12, 12, 12);
    font-family: 'Noto Serif', serif;
}

.algodemi {
    margin-top: 25px;
    color: white;
    font-family: 'Noto Sans Multani', sans-serif;
    font-size: 15px;
    text-align: center;
}

.mifocoyprogreso {
    margin-bottom: 40px;
    display: flex;
    
}

.misfocos {
    font-family: 'Noto Sans Multani', sans-serif;
    color: #ffffff;
    font-size: 20px;
    margin-left: 75px;
    margin-bottom: 20px;
    
}

.misfocos2 {
    font-family: 'Noto Sans Multani', sans-serif;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 30px;
    }

.hr1 {
    width: 110%;
    font-weight: bold;
    border-top: 2px solid white;
}

.grancontenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contenedordefoco {
    margin-top: 120px;
}

.contenedordeprogresos {
    margin-left: 150px;
    margin-top: 60px;
}

/*BARRAS DE PROGRESO*/


.progress-bar {
    width: 400px; 
    height: 35px; 
    background-color: white; 
    border: 1px solid #ccc; 
    overflow: hidden;
    margin-top: 10px;
}

.progress-text {
    width: 100px; 
    height: 100%;
    background-color: #898585; 
    color: white; 
    text-align: center;
    line-height: 35px; 
    float: left;
    font-family: 'Noto Sans Multani', sans-serif;
}

.progress1 {
    width: 80%; 
    height: 100%;
    background-color: #ccc; 
    transition: width 2s; 
}

.progress2 {
    width: 80%; 
    height: 100%;
    background-color: #ccc; 
    transition: width 2s; 
}

.progress3 {
    width: 60%;
    height: 100%;
    background-color: #ccc; 
    transition: width 2s; 
}

.progress4 {
    width: 55%; 
    height: 100%;
    background-color: #ccc; 
    transition: width 2s; 
}

.progress5 {
    width: 90%; 
    height: 100%;
    background-color: #ccc; 
    transition: width 2s; 
}

.progress6 {
    width: 70%; 
    height: 100%;
    background-color: #ccc; 
    transition: width 2s; 
}

.progress7 {
    width: 80%; 
    height: 100%;
    background-color: #ccc; 
    transition: width 2s; 
}

.progress8 {
    width: 60%; 
    height: 100%;
    background-color: #ccc; 
    transition: width 2s; 
}


/*PORTFOLIO*/

.portfolio{
    font-family: 'Noto Serif', serif;
    font-size: 60px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    margin-left: 200px;
    margin-top: 60px;
}


/*TARJETAS*/

.tarjeta1 {
    width: 300px;
    height: 250px;
    background-color: #898585;
    border: 1px solid #898585;
    text-align: center;
    margin-right: 50px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 400ms ease;
    
}

.tarjeta1:hover {
    transform: translateY(-5%);
    box-shadow: 0px 0px 20px 0px #77716f;
}

.tarjeta2 {
    width: 300px;
    height: 250px;
    background-color: #333030;
    border: 1px solid #333030;
    text-align: center;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 400ms ease;
}

.tarjeta2:hover {
    transform: translateY(-5%);
    box-shadow: 0px 0px 20px 0px #3b3837;
}

.texto {
    font-size: 24px;
    line-height: 100px;
    margin: 0;
    color: white;
    font-family: 'Noto Sans Multani', sans-serif;
    text-align: center;
}

.hr2 {
    height: 0px;
    border: none;
    border-top: 2px solid white;
    width: 30%;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.contenedortarjetas {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.contenedortarjetas2 {
    display: flex;
    justify-content: center;
}

/* FOOTER */

footer {
   height: 200px;
   background-color: #030303;
}

.mayorcontenedor {
    display: flex;
    justify-content: space-between;
}

.primeraparte{
    display: flex;
    flex-direction: column;
}

.mail {
    display: flex;
    color: white;
    font-family: 'Noto Sans Multani', sans-serif;
    width: 50%;
    margin: 0 auto;
}

.mail:hover {
    text-decoration: underline;
    cursor: pointer;
}

.email {
    margin-right: 10px;
}

.telefono {
    display: flex;
    color: white;
    font-family: 'Noto Sans Multani', sans-serif;
    width: 50%;
    margin: 0 auto;
}

.telefono:hover {
    text-decoration: underline;
    cursor: pointer;
}

.phone {
    margin-right: 10px;
}

.getintouch {
    width: 50%;
    color: white;
    font-family: 'Noto Sans Multani', sans-serif;
    margin: 0 auto;
    margin-top: 40px;
    font-size: 25px;
    margin-bottom: 20px;
}

.boton3{
    background-color: rgba(0, 0, 0, 0); 
    border: 3px solid white; 
    color: white;
    padding: 15px 40px; 
    cursor: pointer;
    font-family: 'Noto Sans Multani', sans-serif;
    margin: auto;
    margin-top: 60px;
}

.boton3:hover {
    background-color: white; 
    color: black;
}

.iconos2 {
    margin-top: 50px;
    font-size: 30px;
    margin-inline: 20px;
    margin-right: 50px;
}

.linkedin2 {
    margin-right: 10px;
    color: white;
    transition: color 0.1s ease;
    text-decoration: none;
}

.linkedin2:hover {
    color: grey; 
    cursor: pointer;
}

.facebook2 {
    margin-right: 10px;
    color: white;
    transition: color 0.1s ease;
    text-decoration: none;
}

.facebook2:hover {
    color: grey; 
    cursor: pointer;
}

.twitter2 {
    color: white;
    transition: color 0.1s ease;
    text-decoration: none;
}

.twitter2:hover {
    color: grey; 
    cursor: pointer;
}

.copyright {
    color: white;
    font-family: 'Noto Sans Multani', sans-serif;
    margin-top: 20px;
}
