@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');


*{
    margin: 0;
    padding: 0;
}


/* HEADER */


header {
    height: 150px;
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
}

.milogo {
    margin-top: 20px;
    font-size: 50px;
}

nav {
    margin-top: 70px;
    text-decoration-line: none;
}


.inicio {
    margin-right: 80px;
    font-size: 20px;
    text-decoration: none;
    color: #3e3d3d;
    font-family: 'Noto Serif', serif;
}

.inicio:hover {
    text-decoration: underline;
}

.acerca {
    margin-right: 80px;
    font-size: 20px;
    text-decoration: none; 
    color: #3e3d3d;
    font-family: 'Noto Serif', serif;
}

.acerca:hover {
    text-decoration: underline;
}

.proyectos {
    margin-right: 80px;
    font-size: 20px;
    text-decoration: none; 
    color: #3e3d3d;
    font-family: 'Noto Serif', serif;
}

.proyectos:hover {
    text-decoration: underline;
}

.contacto {
    margin-right: 30px;
    font-size: 20px;
    text-decoration: none; 
    color: #3e3d3d;
    font-family: 'Noto Serif', serif;
}

.contacto:hover{
    text-decoration: underline;
}

/*ICONOS*/

.iconos {
    margin-top: 55px;
    font-size: 30px;
    margin-inline: 20px;
}

.linkedin {
    margin-right: 10px;
    color: #333030;
    transition: color 0.1s ease;
    text-decoration: none;
}

.linkedin:hover {
    color: grey; 
    cursor: pointer;
}

.facebook {
    margin-right: 10px;
    color: #333030;
    transition: color 0.1s ease;
    text-decoration: none;
}

.facebook:hover {
    color: grey; 
    cursor: pointer;
}

.twitter {
    color: #333030;
    transition: color 0.1s ease;
    text-decoration: none;
}

.twitter:hover {
    color: grey; 
    cursor: pointer;
}

/* HERO */

.hero{
    background-image: url(../imagenes/imagen.jpg);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.minombre {
    color: white;
    font-size: 50px;
    margin-left: 70px;
    font-family: 'Noto Serif', serif;
}

.webdeveloper {
    color: white;
    font-size: 20px;
    margin-left: 130px;
    font-family: 'Noto Serif', serif;
}


.boton1{
    background-color: rgba(0, 0, 0, 0); 
    border: 3px solid white; 
    color: white;
    padding: 10px 20px; 
    cursor: pointer;
    margin-left: 250px;
    font-family: 'Noto Serif', serif;
}

.boton1:hover {
    background-color: white; 
    color: black;
}

/* ACERCA DE MI */

.segundaseccion {
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}

.tituloacerca {
    margin-top: 80px;
    font-family: 'Noto Serif', serif;
    font-size: 70px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.sobremi {
    font-size: 20px;
    margin-top: 100px;
    color: #898585;
}

.boton2 {
    background-color: #383737; 
    color: #ffffff; 
    padding: 25px 30px; 
    border: none; 
    cursor: pointer; 
    font-size: 20px;
}

.boton2:hover {
    background-color: #746d6d; 
    color: white;
}

.contenedorboton {
    width: 15%;
    margin: 0 auto;
}



/*HERRAMIENTAS*/

.herramientas {
    height: 500px;
    background-color: #383737;
}




/*BARRAS DE PROGRESO*/


.progress-bar {
    width: 400px; /* Ancho de la barra de progreso */
    height: 35px; /* Altura de la barra de progreso */
    background-color: white; /* Color de fondo de la barra de progreso */
    border: 1px solid #ccc; /* Borde de la barra de progreso */
    overflow: hidden;
    margin-top: 10px;
}

.progress-text {
    width: 100px; /* Ancho de la parte "Adobe XD" */
    height: 100%;
    background-color: #898585; /* Color gris oscuro para la parte "Adobe XD" */
    color: white; /* Color de texto en la parte "Adobe XD" */
    text-align: center;
    line-height: 35px; /* Alineación vertical del texto */
    float: left;
}

.progress1 {
    width: 80%; /* Ancho de la barra de progreso (70%) */
    height: 100%;
    background-color: #ccc; /* Color gris claro para la barra de progreso */
    transition: width 2s; /* Animación de la barra de progreso */
}

.progress2 {
    width: 80%; /* Ancho de la barra de progreso (70%) */
    height: 100%;
    background-color: #ccc; /* Color gris claro para la barra de progreso */
    transition: width 2s; /* Animación de la barra de progreso */
}

.progress3 {
    width: 60%; /* Ancho de la barra de progreso (70%) */
    height: 100%;
    background-color: #ccc; /* Color gris claro para la barra de progreso */
    transition: width 2s; /* Animación de la barra de progreso */
}

.progress4 {
    width: 55%; /* Ancho de la barra de progreso (70%) */
    height: 100%;
    background-color: #ccc; /* Color gris claro para la barra de progreso */
    transition: width 2s; /* Animación de la barra de progreso */
}

.progress5 {
    width: 90%; /* Ancho de la barra de progreso (70%) */
    height: 100%;
    background-color: #ccc; /* Color gris claro para la barra de progreso */
    transition: width 2s; /* Animación de la barra de progreso */
}

.progress6 {
    width: 70%; /* Ancho de la barra de progreso (70%) */
    height: 100%;
    background-color: #ccc; /* Color gris claro para la barra de progreso */
    transition: width 2s; /* Animación de la barra de progreso */
}

.progress7 {
    width: 80%; /* Ancho de la barra de progreso (70%) */
    height: 100%;
    background-color: #ccc; /* Color gris claro para la barra de progreso */
    transition: width 2s; /* Animación de la barra de progreso */
}

.progress8 {
    width: 60%; /* Ancho de la barra de progreso (70%) */
    height: 100%;
    background-color: #ccc; /* Color gris claro para la barra de progreso */
    transition: width 2s; /* Animación de la barra de progreso */
}



/*TARJETAS*/

.tarjeta1 {
    width: 300px;
    height: 200px;
    background-color: #898585;
    border: 1px solid #898585;
    text-align: center;
    margin-right: 50px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.tarjeta2 {
    width: 300px;
    height: 200px;
    background-color: #333030;
    border: 1px solid #333030;
    text-align: center;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texto {
    font-size: 24px;
    line-height: 100px;
    margin: 0;
    color: white;
}

.hr1 {
    color: black;
    font-weight: bold;
}

.hr2 {
    height: 0px;
    border: none;
    border-top: 2px solid white;
    width: 30%;
    display: flex;
    align-items: center;
}

.contenedortarjetas {
    display: flex;
    justify-content: center;
}

.contenedortarjetas2 {
    display: flex;
    justify-content: center;
}